@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Red Hat Text'),
    url('Red_Hat_Text/RedHatText-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Red Hat Text'),
    url('Red_Hat_Text/RedHatText-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Red Hat Text';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('Red Hat Text'),
    url('Red_Hat_Text/RedHatText-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Manjari';
  font-display: fallback;
  src: local('Manjari'), url('Manjari/Manjari-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('Proza Libre'),
    url('ProzaLibre/ProzaLibre-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Proza Libre';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('Proza Libre'),
    url('ProzaLibre/ProzaLibre-Bold.ttf') format('truetype');
}
