@import-normalize; /* bring in normalize.css styles */

.app {
  display: flex;
  flex-direction: row;
  font-family: 'Red Hat Text', sans-serif;
  overflow: hidden;
}

div {
  transition: background-color 250ms ease-in, color 150ms ease-in;
}
